name: Build LoongArch .NET SDK

on:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: linux
            libc: glibc
            docker_tag: azurelinux-3.0-net10.0-cross-loongarch64
          - name: linux-musl
            libc: musl
            docker_tag: azurelinux-3.0-net10.0-cross-loongarch64-musl
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Maximize build space
      uses: AdityaGarg8/remove-unwanted-software@v4.1
      with:
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-cached-tools: 'true'

    - name: Clone repository
      run: |
        git clone --single-branch --depth 1 -b main https://github.com/dotnet/dotnet

    - name: Apply patches
      run: |
        cd dotnet
        sed -i "/<KeepNativeSymbols/ s/true/false/g" src/runtime/Directory.Build.props
        cp -v src/runtime/src/libraries/System.IO.Ports/pkg/runtime.linux-x64.runtime.native.System.IO.Ports.proj src/runtime/src/libraries/System.IO.Ports/pkg/runtime.linux-loongarch64.runtime.native.System.IO.Ports.proj
        cp -v src/runtime/src/libraries/System.IO.Ports/pkg/runtime.linux-x64.runtime.native.System.IO.Ports.proj src/runtime/src/libraries/System.IO.Ports/pkg/runtime.linux-musl-loongarch64.runtime.native.System.IO.Ports.proj

    - name: Build
      run: |
        docker run --platform linux/amd64 --rm -v${{ github.workspace }}/dotnet:/dotnet -w /dotnet -e ROOTFS_DIR=/crossrootfs/loongarch64 \
          mcr.microsoft.com/dotnet-buildtools/prereqs:${{ matrix.docker_tag }} \
            ./build.sh --clean-while-building --prep -sb --os ${{ matrix.name }} --rid ${{ matrix.name }}-loongarch64 \
              --arch loongarch64 --branding repodefault -p:OfficialBuildId=$(date +%Y%m%d).$(date +%-H)

    - name: List assets directory
      run: |
        find "${{ github.workspace }}/dotnet/artifacts"
    - name: Upload .NET
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-sdk-${{ matrix.name }}
        path: |
          ${{ github.workspace }}/dotnet/artifacts/assets/Release/Sdk/*/dotnet-sdk-*.tar.gz
          ${{ github.workspace }}/dotnet/artifacts/assets/Release/Private.SourceBuilt.Artifacts.*.tar.gz

